@{
    ViewData["Title"] = "Home Page";
    Layout = "_AmpleLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <a class="btn btn-outline-info" asp-area="Identity" asp-page="/Account/Login" >Login to Buggy Buddy</a>.
</div>


