@model BugTracker.Models.Invite

@{
    ViewData["Title"] = "Create";
}




<!-- Row -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">New Company Invite</h4>
                <h6 class="card-subtitle">Invite a New Member to join your Company.</h6>
            </div>
            <form asp-action="Create" class="form-horizontal r-separator border-top" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group row align-items-center mb-0">
                        <label asp-for="InviteeEmail" class="col-3 text-end control-label col-form-label">Email</label>
                        <div class="col-9 border-start pb-2 pt-2">
                            <input type="email" asp-for="InviteeEmail" class="form-control" placeholder="EnterEmail">
                            <span asp-validation-for="InviteeEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label asp-for="InviteeFirstName" class="col-3 text-end control-label col-form-label">First Name</label>
                        <div class="col-9 border-start pb-2 pt-2">
                            <input type="text" class="form-control" asp-for="InviteeFirstName" placeholder="Enter first name">
                            <span asp-validation-for="InviteeFirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label asp-for="InviteeLastName" class="col-3 text-end control-label col-form-label">Last Name </label>
                        <div class="col-9 border-start pb-2 pt-2">
                            <input type="text" class="form-control" asp-for="InviteeLastName" placeholder="Enter last name">
                            <span asp-validation-for="InviteeLastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label asp-for="ProjectId" class="col-3 text-end control-label col-form-label">Select Project </label>
                        <div class="col-9 border-start pb-2 pt-2">
                            <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center mb-0">
                        <label asp-for="Message" class="col-3 text-end control-label col-form-label">Message </label>
                        <div class="col-9 border-start pb-2 pt-2">
                            <textarea asp-for="Message" class="form-control" multiple="multiple"></textarea>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="p-3 border-top">
                    <div class="form-group mb-0 text-end">
                        <button type="submit" value="Send Invite" class="btn btn-info rounded-pill px-4 waves-effect waves-light">Send Invite</button>
                        <a value="Cancel" asp-action="Dashboard" asp-controller="Home" class="btn btn-dark rounded-pill px-4 waves-effect waves-light">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


























